<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>index</title>

    <link rel="icon" href="/img/ico.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/ico.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-light bg-dark">

    <a class="navbar-brand logo" th:href="@{/}">
        <img th:src="@{/img/artist.png}" width="35" height="35" class="d-inline-block align-top" alt="">ArtPortfolio
    </a>

<!--    <div class="logo">-->
<!--        ArtPortfolio-->
<!--    </div>-->

    <nav class="nav">
        <a class="nav-link text-light" href="#">Home</a>
        <a class="nav-link text-light" href="#">Gallery</a>
        <a class="nav-link text-light" href="#">Settings</a>
    </nav>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="User name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

</nav>

</body>
</html>