<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>index</title>

    <link rel="icon" href="/img/ico.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/ico.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-light bg-dark">

    <a class="navbar-brand logo" th:href="@{/}">
        <img th:src="@{/img/artist.png}" width="35" height="35" class="d-inline-block align-top" alt="">ArtPortfolio
    </a>

    <nav class="nav">
        <a class="nav-link text-light" href="#">Home</a>
        <a class="nav-link text-light" href="#">Gallery</a>
        <a class="nav-link text-light" href="#">Settings</a>
    </nav>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="User name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

</nav>

<!--<div class="card mx-3 my-3" style="width: 18rem;">-->
<!--    <img th:src="${avatar.getAvatarUrl()}" class="card-img-top" alt="..." onError="this.onerror=null;this.src='/img/artist.png';">-->
<!--    <div class="card-body">-->
<!--        <h6 th:text="${personalData.getName() + ' ' + personalData.getSurname()}"></h6>-->
<!--        <p class="card-text">What do you think about?</p>-->
<!--    </div>-->
<!--</div>-->

<div class="d-flex bd-highlight">

    <div class="card mx-3 my-3 flex-shrink-1 bd-highlight" style="width: 18rem;">
        <img th:src="${avatar.getAvatarUrl()}" class="card-img-top" alt="..." onError="this.onerror=null;this.src='/img/artist.png';">
        <div class="card-body">
            <h6 th:text="${personalData.getName() + ' ' + personalData.getSurname()}"></h6>
            <p class="card-text">What do you think about?</p>

            <div class="mb-1">
                <img th:src="@{/img/local.png}" width="25" height="25" class="d-inline-block align-top" alt="">
                Warsaw
            </div>

            <div class="mb-1">
                <img th:src="@{/img/cake.png}" width="25" height="25" class="d-inline-block align-top" alt="">
                21.10.1992
            </div>
        </div>
    </div>

    <div class=" mr-3 my-3 p-1 w-100 bd-highlight border rounded-lg">

        <div class="w-auto p-1">

            <div class="h-50 d-inline-block border rounded mb-1 pt-2 pb-5 px-2 bg-light">
                <img th:src="@{/img/artist.png}" alt="..." class="img-thumbnail">
            </div>
            <div class="h-50 d-inline-block border rounded pt-2 pb-5 px-2 bg-light">
                <img th:src="@{/img/artist.png}" alt="..." class="img-thumbnail">
            </div>
            <div class="h-50 d-inline-block border rounded pt-2 pb-5 px-2 bg-light">
                <img th:src="@{/img/artist.png}" alt="..." class="img-thumbnail">
            </div>
            <div class="h-50 d-inline-block border rounded pt-2 pb-5 px-2 bg-light">
                <img th:src="@{/img/artist.png}" alt="..." class="img-thumbnail">
            </div>
            <div class="h-50 d-inline-block border rounded pt-2 pb-5 px-2 bg-light">
                <img th:src="@{/img/artist.png}" alt="..." class="img-thumbnail">
            </div>

        </div>

    </div>
</div>

</body>
</html>